<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form [formGroup]="miFormulario"
              autocomplete="off"
              (ngSubmit)="submitFormulario()">
            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="nombre"
                           placeholder="Nombre del usuario">

                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombre')">
                        Debe de ser en formato de nombre y apellido
                    </span>       
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           formControlName="email"
                           placeholder="Email del usuario">     

                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('email')">
                        {{ emailErrorMsg }}
                    </span>  

                    <!-- <span class="form-text text-danger"
                          *ngIf="emailRequired()">
                        El correo es obligatorio
                    </span>
                    <span class="form-text text-danger"
                          *ngIf="emailFormato()">
                        El valor no tiene formato de correo
                    </span>    
                    <span class="form-text text-danger"
                          *ngIf="emailTomado()">
                        El correo ya existe
                    </span>   -->
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="username"
                           placeholder="Username del usuario">   
                           
                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('username')">
                        El username no puede ser Strider
                    </span> 
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           formControlName="password"
                           placeholder="Password del usuario"> 
                           
                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('password')">
                        La contraseña debe de ser mayor a 6 caracteres
                    </span> 
                </div>
            </div>

            <!-- Confirmar Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           formControlName="password2"
                           placeholder="Confirmar la contraseña">   

                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('password2')">
                        Las contraseñas deben de ser iguales
                    </span>   
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            [disabled]="miFormulario.invalid" 
                            type="submit"> <!-- [disabled] para que el boton se habilite una vez que el formulario es valido -->
                        Crear
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>


<h2>Form Valid: {{ miFormulario.valid }}</h2>
